<hr>
<table width="100%">
  <tr>
    <td width="10%" align="left" valign="center">
      <a href="http://sourceforge.net"> 
      <img
      src="http://sourceforge.net/sflogo.php?group_id=11795"
      width="88" height="31" border="0" alt="SourceForge Logo"></a>
    </td>
    <td width="20%" align="left" valign="center">
      hosts this site.
    </td>
    <td>
    </td>
    <td align="right" valign="center">
      Send comments to:<br>
      <a href="mailto:john.poplett AT acm.org">John Poplett</a>
    </td>
  </tr>
</table>

</body> 
</html>
